@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: Luxyna;
  src: url(/font/LUXYNA.ttf);
}
/* @font-face {
  font-family: Luxyna;
  src: url(./font/LUXYNA.ttf);
} */

@tailwind base;
@tailwind components;
@tailwind utilities;



html {
  scroll-behavior: smooth;
  scroll-padding: 5rem;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 244, 240, 1) 49%, rgb(255, 253, 252) 100%);
  color: white;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.image {
  position: relative;
}

.transition-opacity {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.font-luxyna {
  font-family: "Luxyna" !important;
}